{{>header user}}
<style>
            .btn_addpost{
                
                color:#76522d;
                border-color: rgb(209, 209, 209);
                background-color: rgb(209, 209, 209);
            }

             .btn_addpost:hover{
                color: #ffffff;
                background-color:#76522d;
                border-color: #76522d;
            }
        </style>

  
        <div id="mainContentProfile">
            <div id="profileContent">
               <div style="display: flex; justify-content: center;">
                   <img class="profile_img" src="../images\profilePicture/{{profileuser.userImg}}" alt="">
               </div>
               
               <div style="margin-top: 10px;">
                   <div class="infoBox">
                        <h1 id="accountName">{{profileuser.full_name}}</h1>
                   </div>
                   <div class="infoBox">
                        <p id="userDescription"></p>
                   </div>
                   
               </div>

                

                <div style="display: flex; justify-content: center;">
                   
                    <button type="button" class="btn_addpost btn" id="createNewButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"  viewBox="0 0 20 20">
                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"></path>
                          </svg>
                          <span  style="font-size: 15px; font-weight: BOLD;">CREATE POST</span>
                           
                    </button>
                </div>
                
                
                

            </div>

            <separator></separator> 
            

            <div style="width:60%">
                <div class="workContent">
                    <h1 id="text_MyWorks">My Works</h1>
                    
                </div>
                <div id="imageContentProfile">
                    <div id="row1" class="row_postProfile">
                        {{#each postOne}}
                        <div class="postsProfile">
                                <div class="post_box">
                                    <img class="post_img" src="..\images\post/{{this.postImg}}" alt="">
                                    <a href="/post/{{this._id}}">
                                    <div class="img_shadeProfile" id="img_shade"></div>
                                    </a>
                                </div> 
                            </div>
                        {{/each}}
                    </div>
                    
                    <div id="row2" class="row_postProfile">
                       
                            {{#each postTwo}}
                            <div class="postsProfile">
                                <div class="post_box">
                                    <img class="post_img" src="..\images\post/{{this.postImg}}" alt="">
                                    <a href="/post/{{this._id}}">
                                    <div class="img_shadeProfile" id="img_shade"></div>
                                    </a>
                                </div> 
                            </div>
                            {{/each}}
                    </div>
                
                </div>
            </div>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <div id="promptLayer">
            <div class="promptDelete">
                <h2>Delete Post?</h2>
                <div>
                    <p>This action cannot be undone and it will be remove from your profile and any page from this site thereon.</p>
                </div>
                <div class="d-grid gap-3 col-9 mx-auto">
                    <button id="continueDelete" type="button" class="btn btn-outline-danger">Continue</button>
                    <button id="cancelDelete" type="button" class="btn btn-outline-dark">Cancel</button>
                </div>
               
                    
            </div>
        </div>